{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block content %}

<style>
    #page-wrapper {
        display: flex;
        flex-direction: column;
    }

    #{{select_type}}_form_div div {
    }

    #{{select_type}}_form_div > *:not(.divider) {
        margin-left: 10px;
        margin-right: 10px;
    }

    #{{select_type}}_form_div div * {
    }

    #{{select_type}}_form_div {
        flex: 1;
        margin: 30px;
        display: grid;
        grid-template-rows: auto 1px auto 1fr;
        grid-template-columns: repeat(24, 1fr);
        grid-row-gap: 15px;
    }

    #select_section {
        display: flex;
        flex-direction: column;
        grid-column-start: 3;
        grid-column-end: 21;
    }

    #{{select_type}}_select_form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .autocomplete {
        flex: 1;
    }

    #create_section {
        grid-column-start: 1;
        grid-column-end: 24;
    }

    #select_header_section {
        grid-column: 1 / 24;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .divider {
        border-top: 1px solid #ccc;
        grid-column-start: 1;
        grid-column-end: 24;
    }


</style>

<div id="{{select_type}}_form_div">
    <h3 id="create_section">Create a Resource
        <button class="btn btn-primary {% if disabled %} disabled {% endif %}"
            {% if not disabled %}onclick="parent.add_wf({{addable_type_num}})"
            {% endif %}>Here
        </button>
    </h3>
    <div class="divider"></div>
    <h3 id="select_header_section">Or select from the list below:</h3>
    <div id="select_section">
        <form id="{{select_type}}_select_form" method="post" action="" class="form" id="{{select_type}}selectorform">
        {% csrf_token %}
        {{ form|default:"<p>no form loaded</p>" }}
        {% buttons %}

        {% endbuttons %}
        </form>
    </div>
</div>

<script>
    {% if disabled %}
    disable();
    {% endif %}
</script>

{% endblock content %}
{% block onleave %}
var form = $("#{{select_type}}_select_form");
var formData = form.serialize();
var req = new XMLHttpRequest();
req.open("POST", "/wf/workflow/", false);
req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
req.onerror = function() { alert("problem with form submission"); }
req.send(formData);
{% endblock %}

