{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="">
        {% if not request.user.is_anonymous %}
        {% if not request.user.userprofile.ssh_public_key %}
        <h4 style="text-align: center; background: #AA0000; color: #FFFFFF; padding: 10px; border-radius: 3px; height: 40px;">
            Warning: you need to upload an ssh key under <a href="/accounts/settings">account settings</a> if you wish to log into the servers you book
        </h4>
        {% endif %}
            <p style="text-align:center;">Welcome to the Pharos Dashboard! For more info on LaaS, <a href="https://wiki.opnfv.org/display/INF/Lab+as+a+Service+2.0">check here</a>. To get started, select one of the options below:</p>
        {% else %}
            <p style="text-align:center;">Welcome to the Pharos Dashboard! For more info on LaaS, <a href="https://wiki.opnfv.org/display/INF/Lab+as+a+Service+2.0">check here</a>. To get started, please log in with your <a href="/accounts/login">Linux Foundation Jira account</a></p>
        {% endif %}
    </div>
{% csrf_token %}

<style>
    .wf_create{
        display: inline-block;
        text-align: center;
    }
    .wf_create_div{
        text-align: center;
    }
    .hidden_form{
        display: none;
    }

    .panel {
        border: none;
    }

    .panels {
        display: grid;
        grid-template-columns: 33% 34% 33%;
    }
</style>
{% if not request.user.is_anonymous %}
<div class='wf_create_div'>
<button class="wf_create btn btn-primary" onclick="cwf(0)">Create a Booking</button>
<button class="wf_create btn btn-primary" onclick="cwf(1)">Create a Pod</button>
<button class="wf_create btn btn-primary" onclick="cwf(2)">Configure a Pod</button>
<button class="wf_create btn btn-primary" onclick="cwf(3)">Create a Snapshot</button>
{% if manager == True %}
<button class="wf_continue btn btn-primary" onclick="continue_wf()">Finish Unfinished Business</button>
{% endif %}
{% endif %}
</div>

<script type="text/javascript">
    function cwf(type)
    {
        $.ajax({
            type: "POST",
            url: "/",
            data: {"create":type},
            beforeSend: function(request) {
                request.setRequestHeader("X-CSRFToken",
                $('input[name="csrfmiddlewaretoken"]').val()
                );
            }

        }).done(function (data) {
            window.location.replace("/wf/");
        }).fail(function(jqxHR, textstatus) {
            alert("Something went wrong...");});
    }
    function continue_wf()
    {
        window.location.replace("/wf/");
    }

</script>

<div class="hidden_form" id="form_div">
    <form method="post" action="" class="form" id="wf_selection_form">
        {% csrf_token %}

        <input type="hidden" id="landing_action">

        <button type="submit" class="btn btn btn-success">
            Confirm Edit
        </button>
    </form>
</div>

{% block vport_comm %}
{% endblock %}
{% endblock content %}
