<script src="/static/js/dashboard.js">
</script>

<input name="filter_field" id="filter_field" type="hidden"/>
<div id="grid_wrapper" class="container-fluid p-4">
    <div class="row">
        {% for object_class, object_list in display_objects %}
            <div class="col-12 col-lg d-flex flex-column pt-2 my-2">
                <div class="w-100">
                    <h4 class="text-capitalize">{{object_class}}</h4>
                </div>
                <div id="{{object_class}}" class="row h-100">
                {% for obj in object_list %}
                    <div class="col-12 col-md-6 col-xl-4 my-2">
                        <div id="{{ obj.id|default:'not_provided' }}" class="card h-100" onclick="multi_filter_widget.processClick('{{obj.id}}');">
                            <div class="card-header">
                                <p class="h5 font-weight-bold mt-2">{{obj.name}}</p>
                            </div>
                            <div class="card-body">
                                <p class="grid-item-description">{{obj.description}}</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-success grid-item-select-btn w-100">{% if obj.multiple %}Add{% else %}Select{% endif %}</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="dropdown_wrapper" class="px-3 list-group-flush w-25 mt-2">
</div>
<script>
function multipleSelectFilterWidgetEntry() {
    const graph_neighbors = {{ neighbors|safe }};
    const filter_items = {{ filter_items|safe }};
    const initial_value = {{ initial_value|default_if_none:"{}"|safe }};

    //global variable
    multi_filter_widget = new MultipleSelectFilterWidget(graph_neighbors, filter_items, initial_value);
}

multipleSelectFilterWidgetEntry();
</script>
