{% extends "base/dashboard/landing.html" %}

{% block about_us %}
<p>The Lab as a Service (LaaS) project aims to help in the development and testing of LFN projects such as
    Anuket
    by hosting hardware and providing access to the community. Currently, the only participating lab is the
    University of New Hampshire Interoperability Lab (UNH-IOL).</p>
<p>To get started, you can request access to a server at the right. PTL's have the ability to design and
    book a
    whole block of servers with customized layer2 networks (e.g. a Pharos Pod). Read more here: 
    <a href="https://wiki.anuket.io/display/HOME/Lab+as+a+Service" target="_blank" class="inTextLink">LaaS Wiki</a></p>
{% endblock %}