---
##############################################################################
# Copyright (c) 2018 Trevor Bramwell and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
version: '3'
services:
    web:
        image: opnfv/pharos-tools-laas-dashboard:dev
        build:
           context: .
           dockerfile: web/Dockerfile
        volumes:
            - ./src:/pharos_dashboard
    worker:
        image: opnfv/pharos-tools-laas-celery:dev
        build:
           context: .
           dockerfile: worker/Dockerfile
        volumes:
            - ./src:/pharos_dashboard
