celery==3.1.23
cryptography==2.6.1
Django==2.2
django-bootstrap4==0.0.8
django-filter==2.0.0
djangorestframework==3.8.2
gunicorn==19.6.0
jira==1.0.7
oauth2==1.9.0.post1
oauthlib==1.1.2
pika==0.10.0
psycopg2==2.6.2
PyJWT==1.4.2
requests==2.22.0
django-fernet-fields==0.6
pyyaml==3.13
pytz==2018.5
