{% extends "base/base.html" %}
{% load staticfiles %}
{% block bgColor %}
<style>
.bgAkr {
    background: #d9c2f2;
}
</style>
<nav class="navbar navbar-light bgAkr navbar-fixed-top border-bottom py-0 mb-0" role="navigation">
{% endblock bgColor %}

{% block logo %}
<div class="col-12 col-sm order-1 order-sm-2 text-center text-lg-left">
    <a href="https://www.lfedge.org/projects/akraino/" class="navbar-brand">
        <img src="{% static "img/akraino_logo.logo" %}">
    </a>

    <a class="navbar-brand d-none d-lg-inline" href={% url 'dashboard:index' %}>
        Akraino Dashboard
    </a>
</div>
{% endblock logo %}
{% block dropDown %}
{% endblock dropDown %}

{% block login %}
    <div class="dropdown-menu dropdown-menu-right">
        {% if user.is_authenticated %}
        <a href="{% url 'account:settings' %}" class="text-dark dropdown-item">
            <i class="fas fa-cog"></i>
                Settings
        </a>
        <a href="{% url 'oidc_logout' %}" class="text-dark dropdown-item">
            <i class="fas fa-sign-out-alt"></i>
                Logout
        </a>
        {% else %}
        <a href="{% url 'oidc_authentication_init' %}" class="text-dark dropdown-item">
            <i class="fas fa-sign-in-alt"></i>
                Login with LFID
        </a>
        {% endif %}
    </div>
{% endblock login %}