{% extends "workflow/viewport-element.html" %}

{% load bootstrap4 %}

{% block content %}

<div id="select_form_div" class="h-100 border d-flex flex-column p-4">
    <h3 id="create_section">Create a Resource
        <button class="btn btn-primary {% if disabled %} disabled {% endif %}"
            {% if not disabled %}onclick="add_workflow({{addable_type_num}})"
            {% endif %}>Here
        </button>
    </h3>
    <div class="border-top"></div>
    <h3 id="select_header_section">Or select from the list below:</h3>
    <div id="select_section" class="d-flex flex-column">
        <form id="step_form" method="post" action="" class="form d-flex flex-column">
        {% csrf_token %}
        {{ form|default:"<p>no form loaded</p>" }}
        </form>
    </div>
</div>

<script>
    {% if disabled %}
    disable();
    {% endif %}
</script>

{% endblock content %}
