{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>{{ flavor.name }}</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 class="d-inline">Available at</h4>
            </div>
            <div class="collapse show" id="availableAt">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">UNH IOL</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 class="d-inline">RAM</h4>
            </div>
            <div id="ramPanel" class="collapse show">
                <div class="card-body">
                    {{flavor.ram.value}} {{flavor.ram.unit}}
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 class="d-inline">CPU</h4>
            </div>
            <div class="collapse show" id="cpuPanel">
                <table class="table">
                    <tr>
                        <td>Arch:</td>
                        <td>{{ flavor.arch }}</td>
                    </tr>
                    <tr>
                        <td>Cores:</td>
                        <td>{{ flavor.cpu_count }}</td>
                    </tr>
                    <tr>
                        <td>Sockets:</td>
                        <td>{{ flavor.sockets }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 class="d-inline">Disk</h4>
            </div>
            <div class="collapse show" id="diskPanel">
                <table class="table">
                    <tr>
                        <td>Disk Size:</td>
                        <td>{{flavor.disk_size.value}} {{flavor.disk_size.unit}}</td>
                    </tr>
                    <tr>
                        <td>Root Size:</td>
                        <td>{{flavor.root_size.value}} {{flavor.root_size.unit}}</td>
                    </tr>
                    <tr>
                        <td>Swap Size:</td>
                        <td>{{flavor.swap_size.value}} {{flavor.swap_size.unit}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 class="d-inline">Interfaces</h4>
            </div>
            <div class="collapse show" id="interfacePanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interface in flavor.interfaces %}
                        <tr>
                            <td>{{interface.name}}</td>
                            <td>{{interface.speed.value}} {{interface.speed.unit}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <div class="card">
            <div class="card-header d-flex">
                <h4 class="d-inline">Images</h4>
            </div>
            <div class="collapse show" id="interfacePanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in flavor.images %}
                        <tr>
                            <td>{{image.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
