{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block content %}

<style>
    #form_div {
        width: 100%;
        padding: 5%;
        text-align: center;
    }
</style>

<div id="form_div">
<p>confirm booking</p>
<p>{{info|default:"booking info"}}</p>
<form action="/wf/workflow/" method="post">
    {% csrf_token %}
    {{form|default:"<p> No Form Loaded</p>"}}
    <input type="submit" value="Submit" style="display: none;"/>
</form>
</div>
{% endblock content %}