{% extends "base.html" %}
{% block content %}
<h2>Bookings I Own</h2>
    <div class="card_container">
    {% for booking in bookings %}
        <div class="detail_card">
            <div>
                <h3>Booking {{booking.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{booking.id}}</li>
                    <li class="list-group-item">lab: {{booking.resource.template.lab.lab_user.username}}</li>
                    <li class="list-group-item">resource: {{booking.resource.template.name}}</li>
                    <li class="list-group-item">start: {{booking.start}}</li>
                    <li class="list-group-item">end: {{booking.end}}</li>
                    <li class="list-group-item">purpose: {{booking.purpose}}</li>
                </ul>
            </div>
            <a class="btn btn-primary" href="/booking/detail/{{booking.id}}/">Details</a>
        </div>
    {% endfor %}
    </div>
<h2>Bookings I Collaborate On</h2>
    <div class="card_container">
    {% for booking in collab_bookings %}
        <div class="detail_card">
            <div>
                <h3>Booking {{booking.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{booking.id}}</li>
                    <li class="list-group-item">lab: {{booking.lab}}</li>
                    <li class="list-group-item">resource: {{booking.resource_name}}</li>
                    <li class="list-group-item">start: {{booking.start}}</li>
                    <li class="list-group-item">end: {{booking.end}}</li>
                    <li class="list-group-item">purpose: {{booking.purpose}}</li>
                </ul>
            </div>
            <a class="btn btn-primary" href="/booking/detail/{{booking.id}}/">Details</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
