{% extends "base.html" %}
{% block content %}
    <div class="card_container">
    {% for config in configurations %}
        <div class="detail_card">
            <div>
                <h3>Configuration {{config.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{config.id}}</li>
                    <li class="list-group-item">name: {{config.name}}</li>
                    <li class="list-group-item">description: {{config.description}}</li>
                    <li class="list-group-item">resource: {{config.bundle}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
