{% extends "base.html" %}
{% block content %}
<h2>Images I Own</h2>
<div class="card_container">
    {% for image in images %}
        <div class="detail_card">
            <div>
                <h3>Image {{image.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{image.id}}</li>
                    <li class="list-group-item">lab: {{image.from_lab.name}}</li>
                    <li class="list-group-item">name: {{image.name}}</li>
                    <li class="list-group-item">description: {{image.description}}</li>
                    <li class="list-group-item">host profile: {{image.host_type.name}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
<h2>Public Images</h2>
<div class="card_container">
    {% for image in public_images %}
        <div class="detail_card">
            <div>
                <h3>Image {{image.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{image.id}}</li>
                    <li class="list-group-item">lab: {{image.from_lab.name}}</li>
                    <li class="list-group-item">name: {{image.name}}</li>
                    <li class="list-group-item">description: {{image.description}}</li>
                    <li class="list-group-item">host profile: {{image.host_type.name}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
