{% extends "base.html" %}
{% block content %}
<h2>Images I Own</h2>
    {% for image in images %}
        <div class="detail_card">
            <ul>
            <li>id: {{image.id}}</li>
            <li>lab: {{image.from_lab.name}}</li>
            <li>name: {{image.name}}</li>
            <li>description: {{image.description}}</li>
            <li>host profile: {{image.host_type.name}}</li>
            </ul>
        </div>
    {% endfor %}
<h2>Public Images</h2>
    {% for image in public_images %}
        <div class="detail_card">
            <ul>
            <li>id: {{image.id}}</li>
            <li>lab: {{image.from_lab.name}}</li>
            <li>name: {{image.name}}</li>
            <li>description: {{image.description}}</li>
            <li>host profile: {{image.host_type.name}}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
