{% extends "base.html" %}
{% block content %}
    <div class="card_container">
    {% for resource in resources %}
        <div class="detail_card">
            <div>
                <h3>Resource {{resource.id}}</h3>
                <ul class="list-group">
                    <li class="list-group-item">id: {{resource.id}}</li>
                    <li class="list-group-item">name: {{resource.name}}</li>
                    <li class="list-group-item">description: {{resource.description}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
