{% extends "base.html" %}
{% block content %}
<script>
function edit_resource(pk){
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        type: "POST",
        url: "/",
        data: { "target": pk, "create": 1, "csrfmiddlewaretoken": csrf},
        beforeSend: function(request) {
            request.setRequestHeader("X-CSFRToken", csrf);
            }
        }).done(function(){
            window.location.replace("/wf/");
        }).fail(function(){});
}
</script>
    {% for resource in resources %}
        <div class="detail_card">
            <ul>
                <li>id: {{resource.id}}</li>
                <li>name: {{resource.name}}</li>
                <li>description: {{resource.description}}</li>
            </ul>
            <div class="detail_btn_group">
                <button style="display: none" class="btn" onclick="edit_resource({{resource.id}});">Edit</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
