{% extends "base.html" %}
{% block content %}
<h2>Bookings I Own</h2>
<div class="row">
    {% for booking in bookings %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h3>{{booking.purpose}} ({{booking.id}})</h3>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item">Lab: {{booking.lab}}</li>
                    <li class="list-group-item">Project: {{booking.project}}</li>
                    <li class="list-group-item">Start: {{booking.start}}</li>
                    <li class="list-group-item">End: {{booking.end}}</li>
                </ul>
                <div class="card-footer d-flex">
                    <a class="btn btn-primary ml-auto mr-2" href="/booking/detail/{{booking.id}}/">Details</a>
                    <button
                        class="btn btn-danger"
                        onclick='cancel_booking({{booking.id}});'
                        data-toggle="modal"
                        data-target="#resModal"
                    >Cancel</button>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>You don't have any bookings. You can create a booking by booking a pod.</p>
        </div>
    {% endfor %}
</div>

<h2>Bookings I Collaborate On</h2>
<div class="row">

    {% for booking in collab_bookings %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h3>{{booking.purpose}} ({{booking.id}})</h3>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item">Owner: {{booking.owner}}</li>
                    <li class="list-group-item">Lab: {{booking.lab}}</li>
                    <li class="list-group-item">Project: {{booking.project}}</li>
                    <li class="list-group-item">Start: {{booking.start}}</li>
                    <li class="list-group-item">End: {{booking.end}}</li>
                </ul>
                <div class="card-footer d-flex">
                    <a class="btn btn-primary ml-auto" href="/booking/detail/{{booking.id}}/">Details</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>There are no collaborative bookings.</p>
        </div>
    {% endfor %}
</div>

<a href="#expired_bookings" data-toggle="collapse" class="h2 discrete-a">
    Expired Bookings
    <i class="fas fa-angle-down rotate"></i>
</a>
<div id="expired_bookings" class="row collapse">
    {% for booking in expired_bookings %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h3>{{booking.purpose}} ({{booking.id}})</h3>
                </div>
                <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item">Owner: {{booking.owner}}</li>
                    <li class="list-group-item">Lab: {{booking.lab}}</li>
                    <li class="list-group-item">Project: {{booking.project}}</li>
                    <li class="list-group-item">Start: {{booking.start}}</li>
                    <li class="list-group-item">End: {{booking.end}}</li>

                <div class="card-footer d-flex">
                    <a class="btn btn-primary ml-auto" href="/booking/detail/{{booking.id}}/">Details</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>There are no expired bookings.</p>
        </div>
    {% endfor %}
</div>

<script>
    var current_booking_id = -1;
    function cancel_booking(booking_id) {
        current_booking_id = booking_id;
    }

    async function submit_cancel_form() {
        var ajaxForm = $("#booking_cancel_form");
        var formData = ajaxForm.serialize();
        req = new XMLHttpRequest();
        var url = "cancel/" + current_booking_id;
        req.open("POST", url, true);
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        req.onerror = function() { alert("problem submitting form"); }
        req.send(formData);
        await new Promise(r => setTimeout(r, 500)); // Quickest solution I could come up with to give liblaas time to mark it as deleted until we do an api rework
        location.reload();
    }
</script>

<div class="modal fade" id="resModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title d-inline float-left">Cancel Booking?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="booking_cancel_form">
                {% csrf_token %}
            </form>
            <div class="modal-footer d-flex flex-column">
                <p>Everything on your machine(s) will be lost</p>
                <div class="mb-2">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#warning">Cancel Booking</button>
                </div>
                <div class="collapse w-100 text-center border-top" id="warning">
                    <div class="p-4">
                        <h3>Are You Sure?</h3>
                        <p>This cannot be undone</p>
                        <button class="btn btn-outline-secondary" data-dismiss="modal">Nevermind</button>
                        <button class="btn btn-danger" id="confirm_cancel_button" data-dismiss="modal" onclick="submit_cancel_form();">I'm Sure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
