/* Sizing */
#wrapper {
    height: 100vh;
}

/* Used for turning divs into square */
.square-20 {
    height: 20px;
    width: 20px;
}

/* Make links stay the same color with no underline */
.discrete-a {
    text-decoration: none;
    color: inherit;
}

.discrete-a:hover {
    text-decoration: none;
    color: inherit;
}

/* Make sure pre elements wrap to not break box sizing */
/* Note: the pre element or parent may need to use the text-break class as well */
.pre-wrap {
    white-space: pre-wrap;
}

/* Allow for sidebar to be small, but also resize on small screens */
.sidebar {
    min-width: 200px;
}

/* Rotating arrows when dropdown happens */
i.fas.rotate {
    transition: transform 0.3s ease-in-out;
}

a[aria-expanded="true"] > i.rotate {
    transform: rotate(180deg);
}
/* End rotating arrows */

/* Start breadcrumbs for workflow */
#topPagination .topcrumb {
    flex: 1 1 0;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    border-left: none;
}

.topcrumb > span {
    color: #343a40;
    cursor: default;
}

.topcrumb.active > span {
    background: #007bff;
    color: white;
}

.topcrumb.disabled > span {
    color: #6c757d;
    background: #f8f9fa;
}

/* Booking Node Styles */
.selected_node {
    border-color: #40c640;
    box-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(109, 243, 76, 0.6);
    transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;
}

/* Cursor effects */
.not-allowed {
    cursor: not-allowed;
}

.z-2 {
    z-index: 2;
}

.mh-30vh {
    max-height: 30vh;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
