.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 25px;
    justify-items: stretch;
}

.card_container ul > li {
    padding: 7px !important;
    font-size: 16px;
}

.detail_button_container .btn {
    width: 49%;
}

.detail_button_container .btn-danger {
    float: right;
}

#modal_warning {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.detail_card {
    border-radius: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
