.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 25px;
    justify-items: stretch;
}

.card_container ul > li {
    padding: 7px !important;
    font-size: 16px;
}

.detail_card {
    border: 2px;
    border-color: black;
    border-radius: 5px;
    margin: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
