{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block extrahead %}
<script src="{% static "/js/workflows/common-models.js" %}"></script>
<script src="{% static "/js/workflows/workflow.js" %}"></script>
<script src="{% static "/js/workflows/book-a-pod.js" %}"></script>
{% endblock %}
{% block content %}
<body>
    <h1 class="mt-4"><u>Book a Resource</u></h1>

    <!-- Template Select -->
    <fieldset class="border-bottom mt-4">
        <legend>Select a Template<span class="text-danger">*</span></legend>
        {% block info %}
        <p>Select the resource bundle that you would like to reserve. Configure your own custom resource <a href="{% url 'workflow:design_a_pod' %}">here</a>.</p>
        {% endblock %}
        
        <div class="row mt-3 mb-3 justify-content-left">

            <!--Select Field-->
            <div id="templates-list" class="col-4">
                <ul class="nav nav-tabs" id="template-select-nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="template-public-tab" data-toggle="tab" data-target="#templates-public" type="button" role="tab" aria-controls="home" aria-selected="true">Public Templates</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="template-private-tab" data-toggle="tab" data-target="#templates-private" type="button" role="tab" aria-controls="home" aria-selected="true">Custom Templates</button>
                    </li>

                </ul>
                <div class="tab-content" id="template-tab-content">
                    <div class="tab-pane show active" id="templates-public" role="tabpanel" aria-labelledby="public-templates-tab">
                        <select class="custom-select template-select" id="template-select-public" name="template" size="{{templates.display_size}}">
                            {% for template in templates.public %}
                            <option value="{{template.id}}">{{template.pod_name}}</option>
                            {% endfor %}
                        </select>


                    </div>
                    
                    <div class="tab-pane" id="templates-private" role="tabpanel" aria-labelledby="private-templates-tab">
                        <select class="custom-select template-select" id="template-select-private" name="template" size="{{templates.display_size}}">
                            {% for template in templates.private %}
                            <option value="{{template.id}}">{{template.pod_name}}</option>
                            {% empty %}
                            <option value="" disabled>No Custom Templates</option>
                            {% endfor %}
                        </select>


                    </div>
                </div>

            </div>

            <!--Description-->
            <div class="col-6 pt-3">
                <div class="card mt-4">
                    <div class="card-header"><h4 id="template-header">Template Description:</h4></div>
                    <div class="card-body">
                        <p id="template-description" class="grid-item-description mb-3">Please select a template</p>
                        <p id="template-availability" class="grid-item-description mb-1"><br></p>
                    </div>

                </div>
            </div>

        </div>

    </fieldset>

    <!-- Booking Details -->
    <fieldset class="border-bottom mt-4">
        <legend>Booking Details<span class="text-danger">*</span></legend>
        <p>Enter the project and purpose for your booking, as well as the duration (up to 21 days).</p>
            
        <div class="row mt-3 mb-2">

            <div class="col-auto">
                <label class="my-1 mr-2" for="input_project">Project</label>
                <select class="custom-select" id="input_project" name="project" required>
                    <option selected disabled value="">...</option>
                    {% for sub_proj in sub_projects %}
                    <option value="{{sub_proj}}">{{sub_proj}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <label class="my-1 mr-2" for="input_purpose">Purpose</label>
                <select class="custom-select" id="input_purpose" name="project" required>
                    <option selected disabled value="">...</option>
                    {% for purpose in purposes %}
                    <option value="{{purpose}}">{{purpose}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6">
                <label class="my-1 mr-2" for="input_details">Details</label>
                <input type="text" id="input_details" name="details" minlength="30" class="form-control border p-2" aria-describedby="detailHelpBlock" required>
                <small id="detailHelpBlock" class="form-text text-muted">Minimum 30 characters</small>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-5">
                <label for="input_length" id="booking_details_day_counter" class="text-center p-0 mb-0">Days: <span class="text-primary">?</span> (Ends on <span class="text-primary">?</span>)</label>
                <input id="input_length" type="range" min="1" max="21" value="1" class="form-control form-control-lg p-0" placeholder="Length">
            </div>
        </div>

    </fieldset>

    <!-- CI File -->
    <fieldset class="border-bottom mt-4">
        <legend>Global Cloud Init Override</legend>
        <p>Add a custom cloud init configuration to apply to all hosts in your booking (optional).</p>
        
        <div class="row mb-3">

            <div class="col-auto">
                <div class="custom-file">
                    <label class="custom-file-label" id="ci-file-label" for="ci-file-input">Choose File</label>
                    <input type="file" id="ci-file-input" name="ci-file" class="mb-3 custom-file-input" accept=".yaml, .yml, application/yaml">
                </div>
            </div>

        </div>
    </fieldset>

    <!-- Collaborators -->
    <fieldset class="mt-4 pb-0">
        <legend>Add Collaborators:</legend>
        <p>Give SSH and booking overview access to other users. Collaborators must mark their profiles as public and have a linked IPA account.</p>
        
        <div class="row mb-3">
        
            <div class="col-6">
            {% bootstrap_field form.users show_label=False %}
            </div>
        </div>
    </fieldset>

    <!-- Book button -->
    <div class="row align-items-center mt-4 mb-5">
        <div class="col-4 mb-2">
            <button id="booking-confirm-button"  class="btn btn-success cancel-book-button p-0 w-100" onclick="workflow.onclickConfirm()">Book</button>
        </div>
    </div>
                

<div class="hidden_form d-none">
  <form id="token">
      {% csrf_token %}
  </form>
</div>

<!-- Fix ipa Account Modal -->
<div class="modal fade" id="ipa-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Welcome to LaaS 3.0</h5>
        <button class="close" onclick="window.location.href = '../../'"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" id="add_resource_modal_body">
        <p>Please update your information before creating a booking.</p>
        <p id="error-msg" class="text-danger"></p>
        <form >
          {% csrf_token %}
          <div class="form-group">
            {% if prereqs.company == "false" %}
              <label for="prereq_form">Company:</label>
              <input type="text" class="form-control" style="width: 300px;" placeholder="Company" id="prereq_form" name="company">
                {% elif prereqs.keys == "false" %}
                  <div class="input-group input-group-md mb-3">
                    <span class="input-group-text">SSH Public Key:</span>
                    <textarea class="form-control" id="keyTextArea" aria-label="SSH Public Key" placeholder="Paste or Upload Your SSH Public Key" name="ssh"></textarea>
                  </div>
                <!-- invisible file input -->
                  <input type="file" style="display: none;" class="form-control" id="sshKeyFile" accept=".pub" aria-label="Upload" onchange="updateFileName(this)">
            {% endif %}
          </div>
        </form>
        <div class="d-flex justify-content-end">
          {% if prereqs.company == "true" and prereqs.keys == "false" %}
            <button type="button" class="btn btn-secondary mr-2" id="uploadButton" onclick="document.getElementById('sshKeyFile').click();">
              Upload
            </button>            
          {% endif %}
          <button class="btn btn-success" onclick="submitForm({% if prereqs.company == 'false' %} 'ipa/company/'{% elif prereqs.keys == 'false' %} 'ipa/ssh/'  {% endif %})">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="alert_modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body text-center">
        <h5 id="alert_modal_message"></h5>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" data-dismiss="modal" id="alert-modal-submit">Confirm</button>
      </div>
    </div>
  </div>
</div>

</body>

<script>
function updateFileName(input) {
    if (input.files && input.files[0]) {
        var fileName = input.files[0].name;
        var textArea = document.getElementById('keyTextArea');
        textArea.value = fileName;
        textArea.readOnly = true;
    }
}

function readFileContent(file) {
    return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = (event) => resolve(event.target.result);
        reader.onerror = (error) => reject(error);
        reader.readAsText(file);
    });
}

async function collectFormData() {
    const form = document.getElementById("prereq_form");
    const fileInput = document.getElementById('sshKeyFile');
    const textArea = document.getElementById('keyTextArea');
    const data = {};

    if (form && form.name === "company") {
        data["data"] = form.value;
    } else if (fileInput && fileInput.files[0]) {
        const fileContent = await readFileContent(fileInput.files[0]);
        data["data"] = [fileContent];
    } else if (textArea && !textArea.readOnly) {
        data["data"] = [textArea.value];
    }

    return data;
}

async function submitForm(endpoint) {
    try {
        const data = await collectFormData();
        $.ajax({
            url: '../../liblaas/' + endpoint,
            type: 'post',
            data: JSON.stringify(data),
            headers: {
                'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                'Content-Type': 'application/json'
            },
            success: (response) => {
                location.reload();
            },
            error: (response) => {
                const r = JSON.parse(response.responseText);
                document.getElementById("error-msg").innerText = r.message;
            }
        });
    } catch (error) {
        console.error("Error reading file:", error);
    }
}

  let user;
  let workflow;
  const dashboard_project = "{{project}}"

  $(window).on('load', function() {

    if (!{{prereqs.company}} || !{{prereqs.keys}}) {
        $('#ipa-modal').modal({backdrop: 'static', keyboard: false});
        $('#ipa-modal').modal('show');
    } else {
      workflow = new BookingWorkflow();
      workflow.startWorkflow();
    }
    });
</script>
{% endblock %}
