{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block content %}

<div class="text-center">
    <h3>Confirm  Session</h3>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <pre>{{confirmation_info|escape}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="form_div" class="text-center p-4">
                <form id="step_form" action="/workflow/manager/" method="post">
                    {% csrf_token %}
                    <div class="d-none">
                    {{form|default:"<p> No Form Loaded</p>"}}
                    </div>
                </form>
                <div class="cform_buttons mx-auto">
                    <button id="confirm_button" class="btn btn-success" onclick="formconfirm()">Confirm</button>
                    <button id="cancel_button" class="btn btn-danger" onclick="formcancel()">Cancel</button>
                </div>
                <div class="d-none">
                    <form id="manager_delete_form" action="/workflow/finish/" method="post">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var select = document.getElementById("id_confirm");

    function formconfirm()
    {
        select.value = "True";
        submitStepForm();
        pop_workflow();
    }
    function formcancel()
    {
        pop_workflow();
    }
</script>
{% block element_messages %}

{% endblock element_messages %}
{% endblock content %}
