{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block content %}

{% if error %}
<p>{{error}}</p>
{% else %}


<form id="step_form" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for form in formset %}
            <tr>
                {% for field in form %}
                    <td>{{field}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {{formset.management_form}}
</form>
{% endif %}
{% endblock content %}
