{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block content %}

<form id="resource_meta_form" method="post" action="/wf/workflow/">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
</form>
{% endblock content %}

{% block onleave %}
var ajaxForm = $("#resource_meta_form");
var formData = ajaxForm.serialize();
req = new XMLHttpRequest();
req.open("POST", "/wf/workflow/", false);
req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
req.onerror = function() { alert("problem submitting form"); }
req.send(formData);
{% endblock %}
