{% extends "workflow/viewport-element.html" %}
{% block extrahead %}
<link href="/static/css/graph_common.css" rel="stylesheet">
<title>Pod Definition Prototype</title>

<!-- Loads and initializes the library -->
<script>
    var mxLoadStylesheets = false;
</script>
<script type="text/javascript" src="/static/js/mxClient.min.js" ></script>
<script type="text/javascript" src="/static/js/dashboard.js" ></script>
{% endblock extrahead %}

<!-- Calls the main function after the page has loaded. Container is dynamically created. -->
{% block content %}
    <div class="row p-0 w-100 mx-0 position-absolute overflow-hidden topToBottom">
        <div id="graphParent" class="col px-0">
            <div class="row">
                <div class="col pr-0">
                    <div id="toolbarContainer" class="bg-light pl-4"></div>
                </div>
            </div>
            <!-- Creates a container for the sidebar -->
            <div id="graphContainer"></div>
        </div>

        <div id="network_select" class="p-0 w-25 ml-auto col-2">
            <div class="px-0 mb-2">
                <!-- Creates a container for the outline -->
                <div id="outlineContainer" class="border"></div>
            </div>
            <div>
                <button id="btn_add_network" type="button" class="btn btn-primary w-100" onclick="network_step.newNetworkWindow();">Add Network</button>
            </div>
            <ul id="network_list" class="list-group">
            </ul>
            <button type="button" class="d-none" onclick="network_step.submitForm();">Submit</button>
        </div>
    </div>
    <form id="xml_form" method="post" action="/wf/workflow/">
        {% csrf_token %}
        <input type="hidden" id="hidden_xml_input" name="xml" />
    </form>

<script>
    //gather context data
    let debug = false;
    {% if debug %}
    debug = true;
    {% endif %}

    let xml = '';
    {% if xml %}
    xml = '{{xml|safe}}';
    {% endif %}

    let hosts = [];
    {% for host in hosts %}
    hosts.push({{host|safe}});
    {% endfor %}

    let added_hosts = [];
    {% for host in added_hosts %}
    added_hosts.push({{host|safe}});
    {% endfor %}

    let removed_host_ids = {{removed_hosts|safe}};

    network_step = new NetworkStep(
        debug,
        xml,
        hosts,
        added_hosts,
        removed_host_ids,
        document.getElementById('graphContainer'),
        document.getElementById('outlineContainer'),
        document.getElementById('toolbarContainer'),
        document.getElementById('sidebarContainer')
    );
</script>
{% endblock content %}
{% block onleave %}
network_step.submitForm();
{% endblock %}
