{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 style="display: inline;">Available at</h4>
                <button data-toggle="collapse" data-target="#avilableAt" class="btn ml-auto btn-outline-secondary">Expand</button>
            </div>
            <div class="card-body collapse show" id="avilableAt">
                <ul class="list-group">
                    {% for lab in hostprofile.labs.all %}
                        <li class="list-group-item">{{lab.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 style="display: inline;">RAM</h4>
                <button data-toggle="collapse" data-target="#ramPanel" class="btn ml-auto btn-outline-secondary">Expand</button>
            </div>
            <div class="card-body collapse show" id="ramPanel">
                {{hostprofile.ramprofile.first.amount}}G,
                {{hostprofile.ramprofile.first.channels}} channels
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 style="display: inline;">CPU</h4>
                <button data-toggle="collapse" data-target="#cpuPanel" class="btn ml-auto btn-outline-secondary">Expand</button>
            </div>
            <div class="card-body collapse show" id="cpuPanel">
                <table class="table">
                    <tr>
                        <td>Arch:</td>
                        <td>{{hostprofile.cpuprofile.first.architecture}}</td>
                    </tr>
                    <tr>
                        <td>Cores:</td>
                        <td>{{hostprofile.cpuprofile.first.cores}}</td>
                    </tr>
                    <tr>
                        <td>Sockets:</td>
                        <td>{{hostprofile.cpuprofile.first.cpus}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex">
                <h4 style="display: inline;">Disk</h4>
                <button data-toggle="collapse" data-target="#diskPanel" class="btn ml-auto btn-outline-secondary">Expand</button>
            </div>
            <div class="card-body collapse show" id="diskPanel">
                <table class="table">
                    <tr>
                        <td>Size:</td>
                        <td>{{hostprofile.storageprofile.first.size}} GiB</td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>{{hostprofile.storageprofile.first.media_type}}</td>
                    </tr>
                    <tr>
                        <td>Mount Point:</td>
                        <td>{{hostprofile.storageprofile.first.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex">
                <h4 style="display: inline;">Interfaces</h4>
                <button data-toggle="collapse" data-target="#interfacePanel" class="btn ml-auto btn-outline-secondary">Expand</button>
            </div>
            <div class="card-body collapse show" id="interfacePanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intprof in hostprofile.interfaceprofile.all %}
                        <tr>
                            <td>{{intprof.name}}</td>
                            <td>{{intprof.speed}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
